<section class="main-header ">
  <p class="flash"><%= notice %><%= alert %></p>
  <section class: 'about container-fluid'>
    <h1>Faceboook</h1>
    <p>交流アプリです</p>
  </section>
  <section class: 'top_image'>
    <img src="<%= asset_path "koryu.jpg" %>">
  </section>
</section>
