<section class="main-header ">
  <p class="flash"><%= notice %><%= alert %></p>
    <!-- <img src="<%= asset_path "achieve.png" %>"> -->
</section>
<section class="about container-fluid">
  <h1>Faceboook</h1>
  <p>交流アプリです</p>
</section>
