<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの変更が申請されています。下記リンクから実施可能です。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし希望しない場合は、本メールを無視してください</p>
<p>あなたのパスワードは上記リンクアクセス後、新しいパスワードを設定しない限り変更されません</p>
